<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


<!--Specifically telling servlet that once a url request is received,
    map that url request to front controller(called Dispatcher Servlet in Spring MVC framework)-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <!--front Controller-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

<!--Telling servlet technology that all url requests to the web application
    will be mapped to spring mvc framework for further  processing.-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <res-ref-name>jdbc/sqlite</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>




</web-app>